.portfolio img {
    max-width: 250px;
    height: 160px;
    border-radius: 15px;
    display: flex;
    float: left;
    padding: 5px;
    margin: 1px 10px 0px 0px;
}

.portfolio {
    min-width: 40vw;
    max-height: 20vh;
    padding: 10px;
    text-align: left;
    border-style: outset;
    border-width: 5px;
    border-color: #CC580A;
    border-radius: 15px;
    background-color: #c2bdba;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

@media (max-width:667px) {
    .portfolio img {
        max-width: 200px;
        max-height: 120px;
    }
    .portfolio {
        min-width: 40vw;
        max-height: 40vh;
    }
}

.portfolio a {
    text-decoration: none;
}